{% if build_data.builds %}
All builds:
    {% for build in build_data.builds|sort(attribute='architecture,variant') %}
    {{ build.architecture }}{{ " ({})".format(build.variant) if build.variant else "" }}: {{ build.valid|yesno('PASSED,FAILED,UNKNOWN') }}
        {% if build.compiler %}
        Compiler: {{ build.compiler }}
        {% endif %}
        {% if build.command %}
        Command: {{ build.command }}
        {% endif %}
        {% if build.config_name %}
        Config: {{ build.config_name }}
        {% endif %}
        {% if build.config_url %}
        Config url: {{ build.config_url }}
        {% endif %}
        {% if build.log_url %}
        Build log: {{ build.log_url }}
        {% endif %}
        {% if build.issues_occurrences %}
        Known issues:
            {% for issue_occurrence in build.issues_occurrences %}
            {{ issue_occurrence.issue.description }}
            {{ issue_occurrence.issue.ticket_url }}

            {% endfor %}
        {% endif %}

    {% endfor %}
{% endif %}
