{% if test_data.missed_tests %}
Tests that were not ran because of internal issues: 
    {% for test in test_data.missed_tests|sort(attribute="architecture") %}
    {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
    {% endfor %}
{% endif %}
