{% if checkout_data.result %}
Congratulations, no blocking failures detected!

    {% if test_data.missed_tests %}
Tests that were not ran because of internal issues: 
        {% for test in test_data.missed_tests|sort(attribute="architecture") %}
    {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
        {% endfor %}
    {% endif %}

You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% else %}
{% extends "base.j2" %}
{% block greeting %}
Hi, we tested your {{ checkout_data.checkout.patch_mboxes|yesno('patches,kernel') }} and here are the failures:
{% endblock %}

{% block head %}

{{ inc('failures') }}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% endblock %}
{% endif %}
