{% extends "base.j2" %}

{% block head %}
{{ super() }}
{% if checkout_data.checkout.comment or (checkout_data.checkout.misc['brew_task_id'] | default(false)) %}
Kernel information:
    {% if 'related_merge_request' in checkout_data.checkout.misc %}
    Merge Request: {{ checkout_data.checkout.misc['related_merge_request']['url'] }}
    {% elif checkout_data.checkout.comment %}
    Commit message: {{ checkout_data.checkout.comment }}
    {% elif (checkout_data.checkout.misc['brew_task_id'] | default(false)) %}
    Brew / Koji Task ID: {{ checkout_data.checkout.misc['brew_task_id'] }}
    {% endif %}

{% endif %}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{{ inc('summary') }}
{% endblock %}
